
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

* { box-sizing: border-box; }

body {
  background: #F6F6F6;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
}

main figure.image-viewer {
  background: black;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 0;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

main figure.image-viewer .placeholder {
  transition: opacity .5s;
}

main figure.image-viewer .slideshow {
  position: absolute;
  top: 0;
  left: 0;
  cursor: ew-resize;
}

main figure.image-viewer .slideshow img {
  position: absolute;
  top: 50px; /* padding of .image-viewer pushed down */
}

main figure.image-viewer .slideshow img.notLoaded {
  opacity: 0;
}

.loaded {
  opacity: 1 !important;
  transition: opacity .5s;
}

/*----------  Input range slider  ----------*/

input[type=range] {
  background: transparent;
  max-width: 500px;
  width: 100%;
  height: 25px;
  margin: 10px auto;
  display: block;
  -webkit-appearance: none;
  opacity: 0;
  transition: opacity .5s;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}

/*==================================
=            Play/Pause            =
==================================*/
.play {
  background: transparent;
  width: 0;
  height: 36px;
  margin: 25px auto 0;
  border: 0;
  box-sizing: border-box;
  border-color: transparent transparent transparent #2497E3;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 18px 0 18px 30px;
  transition: border-color .2s;
}

.play.paused {
  border-style: double;
  border-width: 0px 0 0px 30px;
}

.play:hover {
  border-color: transparent transparent transparent #A1D0FF;
  transition: border-color .2s;
}



